* {
  box-sizing: border-box;
  margin: 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 100vh;
  background-image: url("./img/bgc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.header-menu {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu__buttons {
  display: flex;
  align-items: center;
}
.search-block {
  display: flex;
  align-items: center;
}

.header-catalog-btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: fit-content;
  padding: 15px 35px;
}

.pading {
  padding-right: 40px;
}

.padding-126 {
  padding-left: 40px;
  padding-right: 40px;
}


.border {
  border-right: 2px solid #fff;
  /* padding-top: 830px; */
  width: 160px;
  height: 60px;
}

.for-events {
}
.for-events__text {
  font-size: 21px;
  font-family: Gilroy;
  line-height: 140%;
}
.for-events__Htext {
  font-size: 30px;
  font-family: Noto Serif;
  font-weight: 700;
}
.for-events_btns {
}
.for-events_btns__btn1 {
}
.for-events_btns__btn2 {
}
.for-events_btns__btn3 {
}
.for-events_btns__btn4 {
}
.for-events_btns__btn5 {
}
.for-events_btns__btn6 {
}
.for-events_img-bloks {
}
.for-events_img-bloks__rings {
  width: 350px;
  height: 280px;
  flex-shrink: 0;
}
.for-events_img-bloks__earRings {
  width: 350px;
  height: 280px;
  flex-shrink: 0;
}
.for-events_img-bloks__pendants {
  width: 350px;
  height: 280px;
  flex-shrink: 0;
}
.for-events_img-bloks__cufflinks {
  width: 350px;
  height: 280px;
  flex-shrink: 0;
}
.for-events_img-bloks__brasalets {
  width: 350px;
  height: 280px;
  flex-shrink: 0;
}
.for-events_img-bloks__clocks {
  width: 350px;
  height: 280px;
  flex-shrink: 0;
}

.ul2 {
  display: flex;
  list-style-type: none;
  height: 280px;
  padding-left: 150px;
}

.for-events_img-bloks__rings {
  padding-right: 30px;
  width: 350px;
  height: 280px;
}
.for-events_img-bloks__earRings {
  padding-right: 30px;
  width: 350px;
  height: 280px;
}
.for-events_img-bloks__pendants {
  padding-right: 30px;
  width: 350px;
  height: 280px;
}

.for-events_img-bloks__rings-p {
  z-index: 1;
}
